@page "/native-c-test"
@using System.Runtime.InteropServices
@rendermode InteractiveWebAssembly

<h1>Call Server-side Native C Code Compiled to WASM</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount = Add(currentCount, 2);
    }

    [DllImport("Test")]
    public static extern int Add(int a, int b);
}


@* <PageTitle>Native C</PageTitle>

<h1>Native C Test</h1>

<p>
    @@fact(3) result: @fact(3)
</p>

@code {
    [DllImport("Test")]
    public static extern int fact(int n);
}
 *@